.hidden {
  display: none;
}

.fill {
  width: 100%;
  height: 100%;
}
.flex-cols {
  display: flex;
  flex-direction: row;
}
.flex-rows {
  display: flex;
  flex-direction: column;
}
.flex-fill {
  flex-grow: 1000;
}
#fullscreen-modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
#fullscreen-modal-content {
  padding: 8px 12px;
  font-size: 32px;
  background: white;
  border: solid 3px black;
  border-radius: 6px;
}

@keyframes shadow-pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 1.0);
  }
  100% {
    box-shadow: 0 0 0 100px rgba(0, 255, 0, 0);
  }
}
.pulse-border-success {
  animation: shadow-pulse-green 1s infinite;
}

@keyframes shadow-pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 1.0);
  }
  100% {
    box-shadow: 0 0 0 100px rgba(255, 0, 0, 0);
  }
}
.pulse-border-failure {
  animation: shadow-pulse-red 1s infinite;
}

.task {
  display: flex;
  flex-direction: row;
  padding: 3px 5px;
}
.task:not(:last-child) {
  border-bottom: solid 1px black;
}
.task-name {
  padding-right: 12px;
}
.task-status {
  flex-grow: 1000;
  text-align: right;
}
.task-running {
  background-color: rgb(243, 185, 24);
}
.task-succeeded {
  background-color: rgb(24, 255, 36);
}
.task-failed {
  background-color: rgb(255, 17, 17);
}